<div class="container">

	<div class="jumbotron">
		<div class="col-md-10 headline_doom">
			<h4><span class="doom_text">DoomBox</span> is your answer to the impending apocalypse. Each month you will receive invaluable advice and supplies to survive a variety of disasters. Subscribe to receive your <span class="doom_text">DoomBox</span> today.</h4>
		</div>
		<div class="col-md-2 subscribe_btn">
			<%= link_to "Subscribe", new_subscriber_path, class: "btn btn-danger" %>
		</div>
	</div>

	<div class="products">
		<ul class="row">
		<% @products.each  do |product| %>
		  <li class="col-lg-3">
		  	<p><%= link_to product.month, product_path(product) %></p>
		    <a class="img-responsive center-block"><%= image_tag product.image.url(:thumb) %></a>
		    <p class="name"><%= link_to product.name, product_path(product) %></p>
		  </li>
		<% end %>
		</ul>

	<% if current_admin %>
		<button class="btn btn-primary"><%= link_to 'Add a Product', new_product_path  %></button>
	<% end %>

	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
